<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow p-4" style="max-width: 500px; width: 100%;">
        <h3 class="text-center mb-4">Forgot Password</h3>
        <div class="text-center mb-2">
            <small>Please enter your email address associated with your account. We will send a mail to reset your password.</small>
        </div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email"
                    autocomplete="off" />
                @if ((forgotPasswordForm.get('email')?.touched && !forgotPasswordForm.get('email')?.value)) {
                <span class="text-danger">
                    <small class="mt-1 ms-2">Please provide an email</small>
                </span>
                }
                @else if (forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid) {
                <span class="text-danger">
                    <small class="mt-1 ms-2">Please provide a valid email</small>
                </span>
                }
            </div>

            <div class="d-flex button-box">
                <button class="btn btn-secondary w-100 me-2" type="button" (click)="onCancel(); forgotPasswordForm.reset()">Cancel</button>
                <button class="btn btn-primary w-100 ms-2" type="submit" [disabled]="forgotPasswordForm.invalid">Send
                    Mail</button>
            </div>
        </form>
    </div>
</div>