.app-container 
  height: 100vh
  display: flex
  flex-direction: column

  .body-container 
    flex: 1
    display: flex
    overflow: hidden

    main 
      flex: 1
      overflow-y: auto

// Side nav
.app-side-nav 
  width: 250px
  height: calc(100vh - 60px)
  position: sticky
  top: 60px
  overflow-y: auto
  color: #ffffff


.side-nav-list
  li 
    cursor: pointer
    color: #ffffff
    transition: background-color 0.5s, color 0.5s

    &:hover
      background-color: #303030
      color: #000000
    
    &.active 
      background-color: #303030
      color: #000000 !important

  .nav-link
    color: #ffffff !important



// Top nav
.height
  height: 60px
  flex-shrink: 0

.f-10
  font-size: 10px

.w-2rem
  width: 2rem !important