<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{title}}</li>
    </ol>
</nav>

<section>
    <div class="container-fluid content-pane">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class="col-12 mt-4">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">In Stock</th>
                    </tr>
                </thead>
                <tbody *ngIf="inventoryList | async as inventory">
                    <ng-container *ngIf="inventory.length > 0; else noData">
                        <tr *ngFor="let item of inventory" class="text-start">
                            <td>
                                {{ item.product_name }}
                                <span class="badge badge-primary ms-2">{{ item.product_weight }}</span>
                            </td>
                            <td>{{ item.product_description }}</td>
                            <td>&#8377; {{ item.product_price }}</td>
                            <td>{{ item.product_quantity }}</td>
                        </tr>
                    </ng-container>
                </tbody>

                <ng-template #noData>
                    <tr>
                        <td colspan="4" class="text-center text-muted py-4">No inventory items available.</td>
                    </tr>
                </ng-template>
            </table>
        </div>
        <div *ngIf="inventoryList | async as inventory">
            <app-paginator *ngIf="inventory.length > 0" [currentPage]="currentPage" [pageSize]="pageSize"
                [totalItems]="totalItems" (pageChanged)="handlePageChange($event, true)">
            </app-paginator>
        </div>
    </div>
</section>