.breadcrumb {
    color: #404040;
    font-size: 12px;
    font-weight: 600;
}

.content-pane {
    color: #404040 !important;
    text-align: center;
    padding: 2rem;

    div {
        h1 {
            font-weight: 700;
        }

        table {
            tbody {
                tr {
                    td:nth-child(2) {
                        width: 200px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

.action-btn:hover {
    color: rgb(255, 94, 0);
}

// table design

.equal-width-table {
    table-layout: fixed;
    width: 100%;
}

.equal-width-table th,
.equal-width-table td {
    width: 33.33%;
    /* Divide equally among 3 columns */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}