.breadcrumb {
    color: #404040;
    font-size: 12px;
    font-weight: 600;
}

.content-pane {
    color: #404040 !important;
    text-align: center;

    div{ 
        h1 {
            font-weight: 700;
        }
    }
}

