<div class="p-3 overflow-hidden">
    <!-- <button class="btn btn-sm btn-secondary mb-3" (click)="toggleSideNav()">{{collapsed ? '→' : '←' }}</button> -->
    <ul class="nav flex-column gap-3">
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/dashboard"><i class="bi bi-grid-1x2-fill me-2"></i>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products"><i class="bi bi-dice-6-fill me-2"></i>Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/orders"><i class="bi bi-box-fill me-2"></i>Orders</a>
        </li>
    </ul>
</div>