.side-nav 
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  bottom: 0;
  background-color: #343a40;
  transition: all 0.3s ease;


.side-nav.show 
  left: 0;


.list-group-item a 
  color: white;
  text-decoration: none;


.list-group-item a:hover 
  color: #f8f9fa;


.content 
  margin-left: 0;
  transition: margin-left 0.3s;


.side-nav.show + .content 
  margin-left: 250px;

