$primary-btn-color:rgb(235, 141, 0)
$secondary-btn-color:rgb(235, 212, 0)
$primary-body-color: #F3E2D4
$primary-font-color:rgb(40, 40, 40)

body
  background: $primary-body-color
  font-family: "Montserrat", sans-serif;

  a
    color: $primary-font-color !important

  .cursor-pointer
    cursor: pointer !important

.btn-primary
    background-color: $primary-btn-color !important
    border: none !important